header {
  width:100%;
  background:#417A96;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:20vh
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:40px;
  margin: 0;
  color:white;
}
a {
  color:white;
  text-decoration: none;
  margin-right:30px;
}
a span {
  margin-left:5px;
}
a:hover {
  color:white;
  text-decoration: none;
}
.headline {
  margin-left:30px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.headline p {
  font-style:italic;
  color:white;
  margin:0 10px 0 auto;
}
